[submodule "mec-framework"]
	path = mec-framework
	url = https://github.com/Joe-Demp/FYP-MEC-Framework.git/
[submodule "console-app"]
	path = console-app
	url = https://github.com/Joe-Demp/FYP-Console-App.git/
[submodule "streaming-sample"]
	path = streaming-sample
	url = https://github.com/Joe-Demp/FYP-Streaming-Sample.git/
